<section style="background-color:#E1F4FB; padding: 1rem; ">
  <article style="width:80%; ; color:#444444; background-color:white; margin: 0 auto; padding: 2rem 3rem;">
    <img  style="width:25%;" src="https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/580/cached.offlinehbpl.hbpl.co.uk/news/NST/0BE880C4-BA15-C64D-59772E764EF971CE.jpg" alt="Blue Cross logo">
    <h1 style="font-size:3rem;margin: 1rem;">Thank you, {{ownerName}}!</h1>
    <h2 style="font-size:2rem;margin: 1rem;">We've safely received {{petName}}'s details</h2>

    <p style="margin: 1rem;">We'll now work hard to find a new home for {{petName}} and will be in touch within 2 days.</p>

    <div >{{#each imageUrls}}<a href="{{this}}"><p style="display:inline;"> <img style="width:35%; height:auto;  margin: 1rem; border-radius:5px;" src="{{this}}"  />{{/each}}</p></a></div>
  <a href="https://www.bluecross.org.uk/donate"><div style="background-color:#0592D3; text-decoration:none; border-radius:5px; padding:1rem; color:white; width:25%; text-align:center; margin:1rem;">Donate</div></a>
  </article>
</section>
