/* you can add your own styles in this file */


body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  /*font-family: var(--sans-serif);*/
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

button {
  font-family: var(--sans-serif);
}



.m0-auto{
  margin: 0 auto;
}

.headerTitle {
border-bottom-left-radius: 100%5rem;
border-bottom-right-radius: 100%5rem;
}

.burger {
  background: url('./assets/burger.svg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: white;
  border-width: 0.75px;
  border-style: solid;
  border-color: #aaa;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.h-custom{
  height: 0.5rem;
}
